[submodule "lib/pico-ice-mpy-module"]
	path = lib/pico-ice-mpy-module
	url = https://github.com/frohro/pico-ice-mpy-module.git
[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
